USE [master]
GO
/****** Object:  Database [HotelReservations_DB]    Script Date: 3/31/2026 11:18:36 PM ******/
CREATE DATABASE [HotelReservations_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelReservations_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelReservations_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelReservations_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelReservations_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelReservations_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelReservations_DB]
GO
/****** Object:  UserDefinedTableType [dbo].[FeatureIDsTable]    Script Date: 3/31/2026 11:18:36 PM ******/
CREATE TYPE [dbo].[FeatureIDsTable] AS TABLE(
	[FeatureID] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[intList]    Script Date: 3/31/2026 11:18:37 PM ******/
CREATE TYPE [dbo].[intList] AS TABLE(
	[ID] [int] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetAvailableRoomsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[GetAvailableRoomsCount]()
returns int
as begin
declare @Count int
select @Count = count(RoomID) from Rooms where RoomStatus=1
return @Count
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetCanceledReservationsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetCanceledReservationsCount]()
returns int
as begin
declare @count int;
select @count = count(ReservationID) from Reservations where ReservationStatus=4
return @count;
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetCheckedInReservationsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetCheckedInReservationsCount]()
returns int
as begin
declare @count int;
select @count = count(ReservationID) from Reservations where ReservationStatus=2
return @count;
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetCheckInsTodayCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetCheckInsTodayCount]()
returns int
as begin
declare @Count int
select @Count = Count(ReservationID) from Reservations where cast (Reservations.StartDate as Date) = cast (GetDate() as Date) and ReservationStatus = 1
return @Count
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetCheckOutTodayCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE function [dbo].[GetCheckOutTodayCount]()
returns int
as begin
declare @Count int
select @Count = Count(ReservationID) from Reservations where cast (Reservations.ExitDate as Date) = cast (GetDate() as Date) and ReservationStatus = 2
return @Count
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetCompletedReservationsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetCompletedReservationsCount]()
returns int
as begin
declare @count int;
select @count = count(ReservationID) from Reservations where ReservationStatus=5
return @count;
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetCustomerCount]()
returns int
as begin
declare @Count int
select @Count = count(customerID) from Customers
return @Count
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetFeaturesAmount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetFeaturesAmount](@RoomID int)
returns int
as begin
declare @TotalPrice int;
select @TotalPrice = Sum(Features.Price) from Rooms_Features inner join Features 
on features.FeatureID=Rooms_Features.FeatureID
where RoomID=@RoomID
if(@TotalPrice is NULL) return 0;
return @TotalPrice;
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetInitialPaidAmountForReservation]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[GetInitialPaidAmountForReservation](@ReservationID int)
returns decimal
as begin
declare @InitialPaidAmount decimal;
select @InitialPaidAmount = InitialTotalDueAmount from Reservations where ReservationID = @ReservationID
return @InitialPaidAmount
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetNoShowReservationsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetNoShowReservationsCount]()
returns int
as begin
declare @count int;
select @count = count(ReservationID) from Reservations where ReservationStatus=3
return @count;
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetOccupiedRoomsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[GetOccupiedRoomsCount]()
returns int
as begin
declare @Count int
select @Count = count(RoomID) from Rooms where RoomStatus=2
return @Count
end

GO
/****** Object:  UserDefinedFunction [dbo].[GetReservationCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[GetReservationCount]()
returns int
as begin
declare @count int;
select @count = count(ReservationID) from Reservations
return @count;
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetRoomsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[GetRoomsCount]()
returns int
as begin
declare @Count int
select @Count = count(RoomID) from Rooms
return @Count
end
GO
/****** Object:  UserDefinedFunction [dbo].[GetTotalPaidCost]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetTotalPaidCost](@ReturnID int)
returns decimal
as begin
declare @TotalPaidAmount decimal
select @TotalPaidAmount = RoomPriceAtReservation from Reservations inner join payments on Reservations.ReservationID= Payments.ReservationID
inner join RoomReturn on RoomReturn.ReturnID=Payments.ReturnID
where Payments.ReturnID=@ReturnID
return @TotalPaidAmount
end
GO
/****** Object:  UserDefinedFunction [dbo].[IsReservationCheckedOut]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[IsReservationCheckedOut](@ReservationID int)
returns bit
as begin
declare @IsCheckedOut int
select @IsCheckedOut = Payments.ReturnID from Payments where ReservationID = 2
if(@IsCheckedOut!=null) return 1
return 0;
end
GO
/****** Object:  UserDefinedFunction [dbo].[IsReservationExist]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[IsReservationExist](@StartDate Date, @ExitDate Date)
returns bit
as begin
 IF EXISTS(Select * from Reservations where Reservations.StartDate=@StartDate and Reservations.ExitDate = @ExitDate and Reservations.ReservationStatus in (1,2)) 
return 1
return NULL
end
GO
/****** Object:  UserDefinedFunction [dbo].[IsRoomReturned]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[IsRoomReturned](@RoomID int)
returns int
as 
begin 
Declare @ReturnID int
select @ReturnID = RoomReturn.ReturnID from RoomReturn inner join Payments on RoomReturn.ReturnID=Payments.ReturnID 
inner join Reservations on Reservations.ReservationID=Payments.ReservationID
inner join Rooms on Rooms.RoomID=@RoomID
if(@ReturnID is null)
return -1
return @ReturnID
end
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Price] [smallmoney] NOT NULL,
 CONSTRAINT [PK_RoomTypes] PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RoomTypes] ( [TypeName], [Price]) VALUES ( N'Single', 130.0000)
INSERT [dbo].[RoomTypes] ( [TypeName], [Price]) VALUES ( N'Double', 160.0000)
INSERT [dbo].[RoomTypes] ( [TypeName], [Price]) VALUES ( N'Suite', 200.0000)
/****** Object:  Table [dbo].[Rooms]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[RoomStatus] [tinyint] NOT NULL,
	[CostPerNight] [smallmoney] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Rooms] ( [RoomTypeID], [RoomStatus], [CostPerNight], [IsActive]) VALUES ( 1, 1, 130.0000, 1)
GO
/****** Object:  View [dbo].[RoomDetails_View]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RoomDetails_View]
AS
SELECT dbo.Rooms.RoomID, dbo.RoomTypes.TypeName AS RoomType, 
                  CASE WHEN Rooms.RoomStatus = 1 THEN 'Available' WHEN RoomStatus = 2 THEN 'Occupied' WHEN RoomStatus = 3 THEN 'Cleaning' WHEN RoomStatus = 4 THEN 'Out of service' END AS RoomStatus, 
                  dbo.GetFeaturesAmount(dbo.Rooms.RoomID) AS RoomFeaturesCost, dbo.Rooms.CostPerNight, dbo.GetFeaturesAmount(dbo.Rooms.RoomID) + dbo.Rooms.CostPerNight AS TotalCost
FROM     dbo.Rooms INNER JOIN
                  dbo.RoomTypes ON dbo.Rooms.RoomTypeID = dbo.RoomTypes.RoomTypeID
WHERE  (dbo.Rooms.IsActive = 1)
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Countrie__10D160BFDBD6933F] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Countries] ( [CountryName]) VALUES (N'Afghanistan')
INSERT [dbo].[Countries] ( [CountryName]) VALUES (N'Albania')
INSERT [dbo].[Countries] ( [CountryName]) VALUES (N'Algeria')
GO
/****** Object:  Table [dbo].[Person]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
--basic data:
INSERT INTO [dbo].[Person] (FirstName, LastName, Email, PhoneNumber, CountryID) VALUES ('Admin', 'User', 'admin@company.com', NULL, 185)
INSERT INTO [dbo].[Person] (FirstName, LastName, Email, PhoneNumber, CountryID) VALUES ('John', 'Smith', 'john.smith@company.com', NULL, 184)
INSERT INTO [dbo].[Person] (FirstName, LastName, Email, PhoneNumber, CountryID) VALUES ('Emily','Davis', 'emily.davis@company.com', NULL, 30)
/****** Object:  Table [dbo].[Customers]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[DateRegistered] [date] NOT NULL,
	[RegisteredByEmployeeID] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT INTO [dbo].[Customers] (PersonID,DateRegistered,RegisteredByEmployeeID,Notes) VALUES (4,GETDATE(),1,'No Notes') 
/****** Object:  View [dbo].[CustomerDetails_View]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CustomerDetails_View]
AS
SELECT dbo.Customers.CustomerID, dbo.Person.FirstName + ' ' + dbo.Person.LastName AS FullName, dbo.Person.Email, dbo.Person.PhoneNumber, dbo.Countries.CountryName, dbo.Customers.DateRegistered, dbo.Customers.Notes
FROM     dbo.Customers INNER JOIN
                  dbo.Person ON dbo.Person.PersonID = dbo.Customers.PersonID INNER JOIN
                  dbo.Countries ON dbo.Countries.CountryID = dbo.Person.CountryID
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[ExitDate] [date] NOT NULL,
	[InitialReservationDays] [int] NOT NULL,
	[InitialTotalDueAmount] [smallmoney] NOT NULL,
	[InitialCheckNotes] [nvarchar](max) NULL,
	[ReservationStatus] [tinyint] NOT NULL,
	[ActualCheckInDate] [datetime] NULL,
	[RoomPriceAtReservation] [smallmoney] NULL,
	[NotificationSent] [bit] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReservationDetails_View]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReservationDetails_View]
AS
SELECT dbo.Reservations.ReservationID, dbo.Person.FirstName + ' ' + dbo.Person.LastName AS FullName, dbo.Person.Email, dbo.RoomDetails_View.RoomID AS ReservedRoomNumber, dbo.RoomDetails_View.RoomType, 
                  dbo.Reservations.StartDate, dbo.Reservations.ExitDate, CAST(dbo.Reservations.InitialReservationDays AS nvarchar(10)) + ' Days' AS InitialReservationDays, dbo.Reservations.InitialTotalDueAmount, 
                  CASE WHEN dbo.Reservations.ReservationStatus = 1 THEN 'Reserved' WHEN dbo.Reservations.ReservationStatus = 2 THEN 'Checked In' WHEN dbo.Reservations.ReservationStatus = 3 THEN 'No Show' WHEN dbo.Reservations.ReservationStatus
                   = 4 THEN 'Cancelled' WHEN dbo.Reservations.ReservationStatus = 5 THEN 'Completed' END AS ReservationStatus
FROM     dbo.Rooms INNER JOIN
                  dbo.RoomDetails_View ON dbo.Rooms.RoomID = dbo.RoomDetails_View.RoomID INNER JOIN
                  dbo.Reservations ON dbo.Rooms.RoomID = dbo.Reservations.RoomID INNER JOIN
                  dbo.Person INNER JOIN
                  dbo.Customers ON dbo.Person.PersonID = dbo.Customers.PersonID ON dbo.Reservations.CustomerID = dbo.Customers.CustomerID
GO
/****** Object:  Table [dbo].[Rooms_Features]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms_Features](
	[RoomID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Rooms_Features] ([RoomID], [FeatureID]) VALUES (1, 1)
INSERT [dbo].[Rooms_Features] ([RoomID], [FeatureID]) VALUES (1, 2)
INSERT [dbo].[Rooms_Features] ([RoomID], [FeatureID]) VALUES (1, 3)
/****** Object:  Table [dbo].[Features]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureName] [nvarchar](50) NOT NULL,
	[Price] [smallmoney] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Features] PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Features] ([FeatureName], [Price], [IsActive]) VALUES ( N'WIFI', 0.0000, 1)
INSERT [dbo].[Features] ([FeatureName], [Price], [IsActive]) VALUES ( N'Air Conditioning', 0.0000, 1)
INSERT [dbo].[Features] ([FeatureName], [Price], [IsActive]) VALUES ( N'Heating', 0.0000, 1)
/****** Object:  UserDefinedFunction [dbo].[GetRoomFeatureIDs]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetRoomFeatureIDs](@RoomID int)
returns table 
as 
return
(
select Features.FeatureID from Features
inner join Rooms_Features on Features.FeatureID=Rooms_Features.FeatureID and Features.IsActive=1
where Rooms_Features.RoomID=@RoomID
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetRoomFeatures]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetRoomFeatures](@RoomID int)
returns table 
as 
return
(
select Features.FeatureID,Features.FeatureName,Features.Price from Features
inner join Rooms_Features on Features.FeatureID=Rooms_Features.FeatureID and Features.IsActive=1
where Rooms_Features.RoomID=@RoomID
)
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [tinyint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[PermissionsValue] [int] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
--basic data:

INSERT [dbo].[Roles] ( [RoleName], [PermissionsValue]) VALUES ( N'Admin', -1)
INSERT [dbo].[Roles] ( [RoleName], [PermissionsValue]) VALUES ( N'Manager', 15)
INSERT [dbo].[Roles] ( [RoleName], [PermissionsValue]) VALUES ( N'Reception', 3)
/****** Object:  Table [dbo].[Employees]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[HireDate] [datetime] NOT NULL,
	[RoleID] [tinyint] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
--basic data:
INSERT INTO Employees(PersonID, HireDate, RoleID, Username, Password,IsActive) VALUES
(1,GETDATE(), 1, 'admin', '8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918',1),
(2, GETDATE(), 2, 'manager','03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4',1),
(3,GETDATE(), 3, 'reception', 'fe2592b42a727e977f055947385b709cc82b16b9a87f88c6abf3900d65d0cdc3',1);
/****** Object:  View [dbo].[EmployeesDetails_view]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EmployeesDetails_view]
AS
SELECT dbo.Employees.EmployeeID AS UserID, dbo.Person.FirstName + ' ' + dbo.Person.LastName AS FullName, dbo.Person.Email, dbo.Person.PhoneNumber, dbo.Countries.CountryName, dbo.Roles.RoleName AS Role, dbo.Employees.HireDate, 
                  dbo.Employees.Username, dbo.Employees.IsActive
FROM     dbo.Employees INNER JOIN
                  dbo.Person ON dbo.Person.PersonID = dbo.Employees.PersonID INNER JOIN
                  dbo.Countries ON dbo.Countries.CountryID = dbo.Person.CountryID INNER JOIN
                  dbo.Roles ON dbo.Roles.RoleID = dbo.Employees.RoleID
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[NotificationType] [tinyint] NOT NULL,
	[NotificationContent] [nvarchar](max) NOT NULL,
	[ToRoleID] [tinyint] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[ReturnID] [int] NULL,
	[ActualAmountDue] [smallmoney] NOT NULL,
	[ActualFinalAmountDue] [smallmoney] NULL,
	[RemainingAmount] [smallmoney] NULL,
	[RefundAmount] [smallmoney] NULL,
	[TransactionDate] [datetime] NULL,
	[ActualTransactionDate] [datetime] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PemissionName] [nvarchar](200) NOT NULL,
	[PermissionValue] [int] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomReturn]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomReturn](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[ActualCheckOutDate] [date] NOT NULL,
	[ActualStayDays] [int] NOT NULL,
	[FinalRoomCheckNotes] [nvarchar](max) NULL,
	[ExtraCharges] [smallmoney] NULL,
	[TransactionDate] [date] NOT NULL,
	[ReturnedBy] [int] NOT NULL,
 CONSTRAINT [PK_RoomReturn] PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Employees] FOREIGN KEY([RegisteredByEmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Employees]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Person]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Person]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Roles]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Roles] FOREIGN KEY([ToRoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Roles]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Reservations] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservations] ([ReservationID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Reservations]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_RoomReturn] FOREIGN KEY([ReturnID])
REFERENCES [dbo].[RoomReturn] ([ReturnID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_RoomReturn]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Countries]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Customers]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Rooms]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_RoomTypes] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_RoomTypes]
GO
ALTER TABLE [dbo].[Rooms_Features]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Features_Features] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[Rooms_Features] CHECK CONSTRAINT [FK_Rooms_Features_Features]
GO
ALTER TABLE [dbo].[Rooms_Features]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Features_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Rooms_Features] CHECK CONSTRAINT [FK_Rooms_Features_Rooms]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddCustomer]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddCustomer]
@PersonID int,
@DateRegistered Date,
@RegisteredByEmployeeID int,
@Notes nvarchar(max),
@NewCustomerID int output
as begin
Begin transaction
    begin try
INSERT INTO [dbo].[Customers]
           ([PersonID]
           ,[DateRegistered]
           ,[RegisteredByEmployeeID]
           ,[Notes])
     VALUES
           (@PersonID, @DateRegistered, @RegisteredByEmployeeID, @Notes)
		   set @NewCustomerID=SCOPE_IDENTITY();
		       commit;
    end try
    begin catch 
    rollBack;
    end catch

	   end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddEmployee]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddEmployee]
@PersonID int,
@HireDate Date,
@RoleID int,
@Username nvarchar(100),
@Password nvarchar(100),
@IsActive bit,
@NewEmployeeID int output
as begin
INSERT INTO [dbo].[Employees]
           ([PersonID]
           ,[HireDate]
           ,[RoleID]
           ,[Username]
           ,[Password]
           ,[IsActive])
     VALUES
           (@PersonID,@HireDate,@RoleID,@Username,@Password,@IsActive)
		   set @NewEmployeeID=SCOPE_IDENTITY();
end
		 
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNotification]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_AddNotification]
@notificationType tinyint,
@notificationContent nvarchar(max),
@toRoleID tinyint,
@isRead bit,
@createdAt DateTime,
@NewNotificationID int output
as begin
Insert Into Notifications
([NotificationType], 
[NotificationContent] , 
[ToRoleID], 
[IsRead] ,
[CreatedAt])
Values 
(@notificationType,@notificationContent, @toRoleID, @isRead , @createdAt);
set @NewNotificationID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPaymentRecord]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddPaymentRecord]
@ReturnID int,
@ActualAmountDue smallmoney,
@ActualFinalAmountDue smallmoney,
@RemainingAmount smallmoney,
@RefundAmount smallmoney,
@TransactionDate Date, 
@ActualTransactionDate Date,
@ReservationID int,
@NewPaymentID int output
as begin 
INSERT INTO [dbo].[Payments]
           ([ReservationID]
		   ,[ReturnID]
           ,[ActualAmountDue]
           ,[ActualFinalAmountDue]
           ,[RemainingAmount]
           ,[RefundAmount]
           ,[TransactionDate]
           ,[ActualTransactionDate])
     VALUES
           (@ReservationID
		   ,@ReturnID
		   ,@ActualAmountDue
		   ,@ActualFinalAmountDue
		   ,@RemainingAmount
		   ,@RefundAmount
		   ,@TransactionDate
		   ,@ActualTransactionDate)

		   set @NewPaymentID = SCOPE_IDENTITY() ;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPerson]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddPerson]
@FirstName nvarchar(100),
@LastName nvarchar(100),
@PhoneNumber nvarchar(50),
@Email nvarchar(100),
@CountryID int,
@NewPersonID int output 
as begin

INSERT INTO [dbo].[Person]
           ([FirstName]
           ,[LastName]
           ,[Email]
           ,[PhoneNumber]
           ,[CountryID])
     VALUES
           (@FirstName, @LastName,@Email,@PhoneNumber,@CountryID);
		      set @NewPersonID=SCOPE_IDENTITY();

			  end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddReservation]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_AddReservation]
@CustomerID int,
@RoomID int,
@StartDate Date,
@ExitDate Date,
@InitialReservationDays int,
@InitialTotalDueAmount smallmoney,
@InitialCheckNotes nvarchar(max),
@ReservationStatus tinyint,
@RoomPriceAtReservation smallmoney,
@ActualCheckInDate Date,
@NotificationSent bit,
@ReservationID int output
as begin
Begin transaction
                            begin try
                          INSERT INTO [dbo].[Reservations]
           ([CustomerID]
           ,[RoomID]
           ,[StartDate]
           ,[ExitDate]
           ,[InitialReservationDays]
           ,[InitialTotalDueAmount]
           ,[InitialCheckNotes]
		   ,[ReservationStatus]
		   ,[ActualCheckInDate]
		   ,[RoomPriceAtReservation],[NotificationSent])

     VALUES
           (@CustomerID,  @RoomID,  @StartDate, @ExitDate,  @InitialReservationDays, @InitialTotalDueAmount, @InitialCheckNotes,@ReservationStatus,@ActualCheckInDate,@RoomPriceAtReservation,@NotificationSent)
		   set @ReservationID=SCOPE_IDENTITY();

		   			INSERT INTO [dbo].[Payments]
           ([ReservationID]
           ,[ActualAmountDue]
           ,[TransactionDate])
		               values(@ReservationID,@InitialTotalDueAmount,GETDATE());
                            commit;
                            end try
                            begin catch 
                            rollBack;
                            end catch


--update Rooms set RoomStatus = 2 where Rooms.RoomID=@RoomID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddReturnRoomRecord]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddReturnRoomRecord] 
@ReturnID int output,
@ActualCheckOutDate Date,
@ActualStayDays INT,
@FinalRoomCheckNotes nvarchar(Max),
@ExtraCharges smallmoney,
@TransactionDate Date,
@ReturnedBy int,
@ReservationID int,
@ActualFinalAmountDue smallmoney,
@RemainingAmount smallmoney,
@RefundAmount smallmoney,
@ActualTransactionDate date
as begin
Begin transaction
    begin try

	INSERT INTO [dbo].[RoomReturn]
           ([ActualCheckOutDate]
           ,[ActualStayDays]
           ,[FinalRoomCheckNotes]
           ,[ExtraCharges]
           ,[TransactionDate]
           ,[ReturnedBy])
     VALUES
           (@ActualCheckOutDate
           ,@ActualStayDays
           ,@FinalRoomCheckNotes
           ,@ExtraCharges
           ,@TransactionDate
           ,@ReturnedBy)
		   set @ReturnID= SCOPE_IDENTITY();

UPDATE [dbo].[Payments]
         SET [ReturnID] = @ReturnID
            ,[ActualFinalAmountDue] = @ActualFinalAmountDue
            ,[RemainingAmount] = @RemainingAmount
            ,[RefundAmount] = @RefundAmount
            ,[ActualTransactionDate] = GETDATE()
       WHERE ReservationID=@ReservationID
 Update Reservations set [ReservationStatus] = 5 where @ReservationID=ReservationID
 Update Rooms set RoomStatus =1 where RoomID = 
(select  ReservedRoomNumber from ReservationDetails_View where ReservationID = @ReservationID)
     commit;
    end try
    begin catch 
    rollBack;
    end catch

	   end
		 
		 select * from RoomReturn
GO
/****** Object:  StoredProcedure [dbo].[SP_AddRoom]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddRoom]
    @RoomTypeID INT,
    @RoomStatus TINYINT,
    @CostPerNight SMALLMONEY,
    @RoomID INT OUTPUT,
    @FeatureIDs dbo.FeatureIDsTable READONLY
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.Rooms (RoomTypeID, RoomStatus, CostPerNight,IsActive)
        VALUES (@RoomTypeID, @RoomStatus,@CostPerNight,1);

        SET @RoomID = SCOPE_IDENTITY();

        INSERT INTO Rooms_Features (RoomID, FeatureID)
        SELECT @RoomID, FeatureID
        FROM @FeatureIDs;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddRoomType]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AddRoomType]
@RoomTypeName nvarchar(50),
@Price int
as begin
INSERT INTO [dbo].[RoomTypes]
           ([TypeName]
           ,[Price])
     VALUES (@RoomTypeName,@Price)
	 end
GO
/****** Object:  StoredProcedure [dbo].[SP_CalculateOccupancyRate]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CalculateOccupancyRate]
as begin
Declare @Today date = getdate()
SELECT 
    (COUNT(DISTINCT RoomID) * 100.0 / (SELECT COUNT(*) FROM Rooms)) AS OccupancyRate
FROM Reservations
WHERE 
    @Today >= StartDate 
    AND @Today < ExitDate
    AND ReservationStatus = 2;
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_CancelReservation]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
create procedure [dbo].[SP_CancelReservation] 
@ReservationID int
as begin
Update reservations set ReservationStatus = 4 where ReservationID = @ReservationID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePassword]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ChangePassword] 
@Password nvarchar(100),
@EmployeeID int
as begin 
Update Employees set Password = @Password where EmployeeID = @EmployeeID 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckIfRoomReservedOrOccupied]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CheckIfRoomReservedOrOccupied]
@RoomID int
as begin
select 1 from reservations 
where ReservationStatus in (1,2) 
and roomID=@RoomID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckNoShowReservations]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CheckNoShowReservations] 
as begin
Update Reservations set ReservationStatus=3
where Cast(ExitDate as Date) < Cast(GETDATE() as Date)
and ActualCheckInDate is NULL
and ReservationStatus = 1
select @@ROWCOUNT as RowsAffected
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckReservationExists]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckReservationExists]
@StartDate Date, @ExitDate Date,
@RoomID int,
@ReservationID int=0
as begin
IF EXISTS
(Select 1 from Reservations where 
ReservationStatus in (1,2)
and RoomID = @RoomID
and ReservationID <> @ReservationID
and Not (@ExitDate < StartDate  OR  @StartDate > ExitDate ))
Select 1 as IsExist
else
select 0 as IsExist;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateEmployee]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DeactivateEmployee]
@EmployeeID int
as begin
Update Employees set IsActive = 0 where EmployeeID = @EmployeeID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateRoom]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DeactivateRoom] 
@RoomID int
as begin 
delete from Rooms where RoomID =@RoomID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteReservation]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DeleteReservation] 
@ReservationID int
as begin
Begin transaction
                            begin try
                            delete from Payments where ReservationID = @ReservationID;
                            delete from Reservations where ReservationID=@ReservationID;
                            commit;
                            end try
                            begin catch 
                            rollBack;
                            end catch
end
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPerson]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FindPerson]
@PersonID int
as begin
select * from Person where PersonID = @PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllReservations]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetAllReservations]
@PageNumber int, @RowsPerPage int
as begin
select * from ReservationDetails_View  
order by ReservationID 
OFFSET (@pageNumber -1 ) * @RowsPerPage Rows 
Fetch next @RowsPerPage Rows Only;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvailableRoomsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_GetAvailableRoomsCount]
as begin 
select dbo.GetAvailableRoomsCount() as AvailableRoomsCount
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCanceledReservationCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetCanceledReservationCount] as begin
select dbo.GetCanceledReservationsCount() as CanceledReservationCount 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCheckedInReservationCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetCheckedInReservationCount] as begin
select dbo.GetCheckedInReservationsCount() as CheckInReservationCount 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCompletedReservationCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetCompletedReservationCount] as begin
select dbo.GetCompletedReservationsCount() as ReservationCount 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCountryInfoByID]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetCountryInfoByID]
@CountryID int
 as begin 
 select * from Countries where CountryID = @CountryID
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCountryInfoByName]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE procedure [dbo].[SP_GetCountryInfoByName]
@CountryName nvarchar(100)
 as begin 
 select * from Countries where CountryName = @CountryName
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[SP_GetCustomerCount]
as begin
select dbo.GetCustomerCount() as CustomerCount
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerInfo]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetCustomerInfo] 
@CustomerID int
as begin
select *
from Customers
where CustomerID=@CustomerID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmployeeByUsernameAndPassword]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetEmployeeByUsernameAndPassword]
@Username nvarchar(50),
@Password nvarchar(MAX)
as begin
select * from Employees
where Username=@Username and Password =@Password
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmployeeInfo]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetEmployeeInfo]
@EmployeeID int
as begin
select * from Employees
where EmployeeID=@EmployeeID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFeaturesPrice]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetFeaturesPrice]
 @RoomID int
 as begin
 select dbo.GetFeaturesAmount(@RoomID) as TotalPrice
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMonthlyReservations]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetMonthlyReservations] 
as begin
SELECT 
    YEAR(StartDate) AS [Year], 
    MONTH(StartDate) AS [Month],
    COUNT(*) AS TotalReservations
FROM Reservations
GROUP BY YEAR(StartDate), MONTH(StartDate)
ORDER BY YEAR(StartDate), MONTH(StartDate);
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNoShowReservationCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetNoShowReservationCount] as begin
select dbo.GetNoShowReservationsCount() as NoShowReservationCount 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNotificationByRoleID]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetNotificationByRoleID]
@toRoleID int
as begin
select Top 20 * from Notifications where ToRoleID =@toRoleID and DATEDIFF(HOUR, CreatedAt ,GETDATE()) <= 24 order by CreatedAt desc 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetOcuppiedRoomsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_GetOcuppiedRoomsCount]
as begin 
select dbo.GetOccupiedRoomsCount() as OcuppiedRoomsCount
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReservationApproachingCheckIn]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetReservationApproachingCheckIn]
as begin
select * from reservations where
StartDate BETWEEN GETDATE() AND DATEADD(HOUR, 24, GETDATE())
    AND ActualCheckInDate IS NULL
    AND NotificationSent = 0
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReservationApproachingCheckOut]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetReservationApproachingCheckOut]
as begin
select * from Reservations where ExitDate BETWEEN GETDATE() AND DATEADD(HOUR, 24, GETDATE())
and Cast (ExitDate as Date) >=Cast (GETDATE() as Date) 
 and	ActualCheckInDate is not null and NotificationSent =0
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReservationByID]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_GetReservationByID]
@ReservationID int
as begin
select * from Reservations
where ReservationID=@ReservationID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReservationCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_GetReservationCount] as begin
select dbo.GetReservationCount() as ReservationCount 
end

GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoleByID]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetRoleByID] @RoleID int
as begin
select * from Roles where RoleID=@RoleID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoleByName]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetRoleByName]
@RoleName nvarchar(50)
as begin
select * from Roles where RoleName=@RoleName
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomByID]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_GetRoomByID]
@RoomID int
as begin
select * from Rooms
where RoomID=@RoomID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomFeatureIDs]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_GetRoomFeatureIDs]
@RoomID int 
 as begin
 select  * from GetRoomFeatureIDs(@RoomID) as RoomFeatureID
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomFeatures]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create procedure [dbo].[SP_GetRoomFeatures]
 @RoomID int
 as begin
 select * from GetRoomFeatures(@RoomID)
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetRoomsCount]
as begin 
select dbo.getRoomsCount() as RoomsCount
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomTypeInfoByID]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetRoomTypeInfoByID]
@RoomTypeID int 
as begin
select *  from RoomTypes Where RoomTypeID = @RoomTypeID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTodayCheckInsCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetTodayCheckInsCount]
as begin
select dbo.GetCheckInsTodayCount() as TodayCheckInsCount
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTodayCheckoutCount]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_GetTodayCheckoutCount]
as begin
select dbo.GetCheckOutTodayCount() as TodayCheckoutCount
end

					
GO
/****** Object:  StoredProcedure [dbo].[SP_MarkNotificationsSent]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MarkNotificationsSent] 
@ReservationIDs intList READONLY
as begin
Update Reservations set NotificationSent=1 from reservations inner join @ReservationIDs ids on Reservations.ReservationID	= ids.id;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_SetCheckIn]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_SetCheckIn]
@ReservationID int,
@RoomID int
as begin
Begin transaction
     begin try
       update Reservations set ReservationStatus = 2, ActualCheckInDate = GetDate() where ReservationID = @ReservationID 
       update Rooms set RoomStatus =2 where RoomID = @RoomID
       commit;
     end try
     begin catch 
       rollBack;
     end catch
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCustomer]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateCustomer]
@CustomerID int,
@Notes nvarchar(Max)
as begin
Update Customers set Notes=@Notes where CustomerID = @CustomerID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateEmployee]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateEmployee]
@EmployeeID int,
@RoleID int,
@Username nvarchar(100),
@IsActive bit
as begin

Update [dbo].[Employees]
           set 
		    [RoleID] =@RoleID
           ,[Username]=@Username
           ,[IsActive]=@IsActive
		   where EmployeeID = @EmployeeID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdatePerson]
@FirstName nvarchar(100),
@LastName nvarchar(100),
@PhoneNumber nvarchar(50),
@Email nvarchar(100),
@CountryID int,
@PersonID int
as begin
           Update [dbo].[Person]
           set 
		    [FirstName] = @FirstName
           ,[LastName] = @LastName
           ,[Email] = @Email
           ,[PhoneNumber] = @PhoneNumber
           ,[CountryID] = @CountryID
		   where PersonID = @PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateReservation]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_UpdateReservation] 
@customerID int,
@roomID int,
@startDate DateTime,
@exitDate date,
@initialReservationDays int, 
@actualCheckInDate date,
@initialTotalDueAmount smallmoney,
@initialCheckNotes nvarchar(max),
@reservationStatus tinyint,
@roomPriceAtReservation smallmoney,
@reservationID int
as begin 
UPDATE [dbo].[Reservations]
                                 SET [CustomerID] = @customerID
                                    ,[RoomID]     = @roomID
                                    ,[StartDate]  = @startDate
                                    ,[ExitDate]   = @exitDate
                                    ,[InitialReservationDays] = @initialReservationDays
                                    ,[InitialTotalDueAmount]  = @initialTotalDueAmount
                                    ,[InitialCheckNotes]      = @initialCheckNotes
                                    ,[ActualCheckInDate]      = @actualCheckInDate
                                    ,[ReservationStatus]      = @reservationStatus
                                    ,[RoomPriceAtReservation] = @roomPriceAtReservation
                                    WHERE ReservationID=@reservationID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRoom]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRoom]
    @RoomID INT,
    @RoomTypeID INT,
    @CostPerNight SMALLMONEY,
    @FeatureIDs dbo.FeatureIDsTable READONLY,
    @AffectedRooms INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE Rooms
        SET
            RoomTypeID   = @RoomTypeID,
            CostPerNight = @CostPerNight
        WHERE RoomID = @RoomID;

        SET @AffectedRooms = @@ROWCOUNT;

        DELETE FROM Rooms_Features
        WHERE RoomID = @RoomID;

        INSERT INTO Rooms_Features (RoomID, FeatureID)
        SELECT @RoomID, FeatureID
        FROM @FeatureIDs;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRoomTypeInfo]    Script Date: 3/31/2026 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateRoomTypeInfo]
@RoomTypeName nvarchar(50),
@Price decimal,
@RoomTypeID int 
as begin
UPDATE [dbo].[RoomTypes]
   SET [TypeName] = @RoomTypeName
      ,[Price] = @Price
	where RoomTypeID = @RoomTypeID
	end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Information 2-Warning 3-Error' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notifications', @level2type=N'COLUMN',@level2name=N'NotificationType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Reserved 2-CheckIn 3-No Show 4-Canceled 5_Completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Reservations', @level2type=N'COLUMN',@level2name=N'ReservationStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1_ Single 2_Double 3_Suite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rooms', @level2type=N'COLUMN',@level2name=N'RoomTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1_Available 2_ Ocuppied 3_ Cleaning 4_OutOfService' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rooms', @level2type=N'COLUMN',@level2name=N'RoomStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Customers"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 311
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Person"
            Begin Extent = 
               Top = 7
               Left = 359
               Bottom = 170
               Right = 553
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Countries"
            Begin Extent = 
               Top = 7
               Left = 601
               Bottom = 126
               Right = 795
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CustomerDetails_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CustomerDetails_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Employees"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Countries"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 126
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Roles"
            Begin Extent = 
               Top = 7
               Left = 774
               Bottom = 148
               Right = 983
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Person"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EmployeesDetails_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EmployeesDetails_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[51] 4[10] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -1938
      End
      Begin Tables = 
         Begin Table = "Rooms"
            Begin Extent = 
               Top = 7
               Left = 963
               Bottom = 170
               Right = 1157
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "RoomDetails_View"
            Begin Extent = 
               Top = 7
               Left = 168
               Bottom = 170
               Right = 362
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Reservations"
            Begin Extent = 
               Top = 7
               Left = 1205
               Bottom = 170
               Right = 1451
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Person"
            Begin Extent = 
               Top = 7
               Left = 721
               Bottom = 170
               Right = 915
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Customers"
            Begin Extent = 
               Top = 7
               Left = 410
               Bottom = 170
               Right = 673
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReservationDetails_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'        Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReservationDetails_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReservationDetails_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[14] 2[26] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Rooms"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "RoomTypes"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 148
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RoomDetails_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RoomDetails_View'
GO
USE [master]
GO
